<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    {% if site.logo %}
        <img alt="logo" src="{{ site.logo | escape | prepend: "/assets/img/" | relative_url }}"/>
    {% endif %}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

  </div>
</header>
