---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
* Site header
*/
.site-header {
    border-top: 1px solid #ffffff;
    border-bottom: 5px solid #168484;
}

.site-title::before {
    background-image: url('{{ site.baseurl }}/assets/img/NABES_logo.png');
    content: "";
    display: inline-block;
    position: relative;
    width: 64px;
    top: 7px;
    height: 64px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}

/**
* Site footer
*/
.site-footer.h-card {
  border-top: 5px solid #7A297E;
}
