// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


/** minima/initialize.scss */

/** minima/_base.scss */

/**
  * Headings
  */
h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
}

/** minima/_layout.scss */

@import 'minima/mixins';

/**
* Site header
*/
.site-header {
    border-bottom: 2px solid #168484;
}

.site-title::before {
    background-image: url(/assets/img/NABES_logo.png);
    content: "";
    display: inline-block;
    position: relative;
    width: 32px;
    top: 7px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}


/**
* Site footer
*/
.site-footer {
  background-color: #168484;
}
